Enter a task here

<!-- task form -->
<%= form_for @task, { controller: "task" } do |f| %>

	<%= f.label :name %>:
  <%= f.text_field :name, placeholder: "task name" %>
  <br>

  <%= f.submit "Submit" %>

<% end %>

<!-- print out all tasks -->
<ul class="font-family-sans">
<% @tasks.each do |task| %>
	
	<% if task.status == false %>
		<li><%= task.id %> <%= task.name %></li>
		<!-- button to update some shit -->

    <%= form_for task, :url => {:action => "update", :id => task.id, :controller => "tasks"} do |f|  %>
     <%= submit_tag("DONE") %>
    <% end %>
      

	<% else %>
		<li class="strikethrough"><%= task.name %></li>
	<% end %>

<% end %>
</ul>